/* General CSS */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: blanchedalmond;
}

h1 {
  border: 4mm ridge rgba(42, 241, 238, 0.6);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* William and Jahmari's CSS */

.inputBar {
  margin: 2%;
  border-radius: 25px;
  height: 30px;
  width: 300px;
  color: white;
  background-color: black;
}

.title {
  padding: 20px;
  border-radius: 25px;
  width: 750px;
  color: black;
}

.character-image {
  border: solid black 5px;
  border-radius: 25px;
  padding: 5px;
}

/* For placeholder */
::placeholder {
  text-align: center; 
  color: white;
}

.character-title {
  color: black;
}
p {
  color: black;
  font-size: 20px;

}

.descriptionSize {
  font-size: 30px;
  line-height: 1.5;
  border-style: dotted;
}

.search-button {
  color: white;
  background-color: black;
}

.marvel-character-title {
  color: black;
}